extends base.pug

block content 
  img(src=`/${loggedInUser.avatarUrl}`, onerror="this.src='/uploads/avatars/default-profile.png'").profile-image

  if errorMessage
    span=errorMessage
  form(method="POST", enctype="multipart/form-data").profile-form
    label Avatar
      input(type="file", name='avatar', accept="image/*")
    label User Name
      input(name="name", placeholder="User Name", type='text', required, value=loggedInUser.name)
    label E-mail
      input(placeholder="E-mail", name="email", type="email", required, value=loggedInUser.email)
    label ID
      input(name="username", placeholder="ID", type='text', required, value=loggedInUser.username)
    label Location
      input(name="location", placeholder="Location", type='text', required, value=loggedInUser.location)
    button(type="submit")
      i.fa-solid.fa-user-pen 
        span Edit Profile
    if !loggedInUser.socialOnly
      a(href="change-password").profile-pw Change Password &rarr;